body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/public/solar_panel.jpeg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .app-container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container {
    position: relative;
    z-index: 1;
  }
  
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .about-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .admin-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  button:disabled {
    opacity: 0.5;
  }
  
  .text-danger {
    color: #dc3545;
  }
  
  .navbar .dropdown-menu {
    display: none;
  }
  
  .navbar .dropdown-menu.show {
    display: block;
  }
  
  .navbar .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    border-radius: .25rem;
  }
  